<mat-nav-list>
  <div class="lo-py-4">
    <img src="../../assets/utc2.png" alt="UTC2" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">CANTEEN UTC2</h2>
  <a mat-list-item routerLink="/admin/home" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon>Home
  </a>
  <a
    mat-list-item
    routerLink="/admin/employee"
    routerLinkActive="list-item-active"
  >
    <mat-icon>people</mat-icon>Employees
  </a>
  <a
    mat-list-item
    routerLink="/admin/products"
    routerLinkActive="list-item-active"
  >
    <mat-icon>fastfood</mat-icon>Products
  </a>
  <a
    mat-list-item
    routerLink="/admin/delivery"
    routerLinkActive="list-item-active"
  >
    <mat-icon>local_shipping</mat-icon>Delivery
  </a>
  <a
    mat-list-item
    routerLink="/admin/report"
    routerLinkActive="list-item-active"
  >
    <mat-icon>report</mat-icon>Report
  </a>
  <a
    mat-list-item
    routerLink="/admin/account"
    routerLinkActive="list-item-active"
  >
    <mat-icon>person</mat-icon>Account
  </a>
  <!-- <a
    mat-list-item
    routerLink="/admin/dashboard"
    routerLinkActive="list-item-active"
  >
    <mat-icon>dashboard</mat-icon>Dashboard
  </a>
  <a mat-list-item><mat-icon>edit</mat-icon>Link 1</a>
  <a mat-list-item><mat-icon>edit</mat-icon>Link 2</a>
  <a mat-list-item><mat-icon>edit</mat-icon>Link 3</a>
  <a mat-list-item><mat-icon>edit</mat-icon>Link 4</a> -->
</mat-nav-list>
