table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
  color: white;
  background-color: #17a2b8;
  font-size: 1rem;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cell-product-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
