.calendar-icon {
  width: 16px;
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
  color: white;
  background-color: #17a2b8;
  font-size: 1rem;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.employee-image {
  width: 50%;
  object-fit: contain;
}

.cell-employee-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
