<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Employees</div>
  <div class="page__content shadow p-3 position-relative">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Employee Info">
        <app-employee-info></app-employee-info>
      </mat-tab>
      <mat-tab label="Timekeeping">
        <app-timekeeping></app-timekeeping>
      </mat-tab>
      <mat-tab label="Pay Wage">
        <app-pay-wage></app-pay-wage>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
