<div class="row m-0 mt-2">
  <div class="col-6">
    <form>
      <div class="row mr-0">
        <div class="col-md-2 mb-3">
          <label for="id">ID</label>
          <input type="text" class="form-control" id="id" disabled />
        </div>
        <div class="col-md-4 mb-3">
          <label for="name-food">Name Food</label>
          <input type="text" class="form-control" id="name" disabled />
        </div>
        <div class="col-md-3 mb-3">
          <label for="amount">Amount</label>
          <input type="text" class="form-control" id="amount" disabled />
        </div>
        <div class="col-md-3 mb-3">
          <label for="unit">Unit</label>
          <input type="text" class="form-control" id="unit" disabled />
        </div>
      </div>
    </form>
    <h2>List of Product</h2>
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Amount</th>
          <th scope="col">Unit</th>
          <th scope="col">Type Food</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>1</td>
          <td>Bánh tráng trộn</td>
          <td>15000</td>
          <td>100</td>
          <td>Bịch</td>
          <td>Đồ ăn vặt</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>2</td>
          <td>Bánh mì</td>
          <td>15000</td>
          <td>40</td>
          <td>Ổ</td>
          <td>Đồ ăn sáng</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>3</td>
          <td>Bánh canh</td>
          <td>20000</td>
          <td>20</td>
          <td>Tô</td>
          <td>Đồ ăn sáng</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <div class="row mr-0">
      <div class="col-md-4 mb-3">
        <label for="import-quantity">Import Quantity</label>
        <input
          type="text"
          class="form-control"
          id="import-quantity"
          placeholder="Import Quantity"
        />
      </div>
      <div class="col-md-4 mb-3">
        <label for="supplier">Supplier</label>
        <select class="custom-select">
          <option selected value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-md-2 mb-3 text-right mt-2">
        <br />
        <button type="button" class="btn btn-primary ml-2 d-inline-flex">
          <mat-icon>check</mat-icon>
          <span>&nbsp;Confirm</span>
        </button>
      </div>
    </div>
    <h2>History of Import Product</h2>
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">Name Food</th>
          <th scope="col">Import Date</th>
          <th scope="col">Import Quantity</th>
          <th scope="col">Unit</th>
          <th scope="col">Supplier</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>1</td>
          <td>Bánh tráng trộn</td>
          <td>04-12-2022</td>
          <td>10</td>
          <td>Bịch</td>
          <td>Nike</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>2</td>
          <td>Bánh canh</td>
          <td>04-12-2022</td>
          <td>13</td>
          <td>Tô</td>
          <td>Nike</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>3</td>
          <td>Bánh mì</td>
          <td>04-12-2022</td>
          <td>17</td>
          <td>Ổ</td>
          <td>Nike</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
