<div class="row m-0 mt-2">
  <div class="col-6">
    <div class="row mr-0">
      <div class="col-md-2 mb-3">
        <label for="id">ID</label>
        <input
          type="text"
          class="form-control"
          id="id"
          [(ngModel)]="myEmployee.empId"
          disabled
        />
      </div>
      <div class="col-md-4 mb-3">
        <label for="date">Date</label>
        <div class="input-group">
          <input
            class="form-control"
            name="dp"
            ngbDatepicker
            #d="ngbDatepicker"
            [(ngModel)]="datepicker"
          />
          <button
            class="btn btn-outline-secondary calendar"
            (click)="d.toggle()"
            type="button"
          ></button>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="shift">Shift</label>
        <select class="custom-select" [(ngModel)]="myTimekeeping.shift">
          <option value="morning">Morning</option>
          <option value="afternoon">Afternoon</option>
          <option value="night">Night</option>
        </select>
      </div>
      <div class="col-md-2 mb-3 text-right mt-2">
        <br />
        <button
          type="button"
          class="btn btn-primary ml-2 d-inline-flex"
          (click)="createTimekeeping()"
        >
          <mat-icon>check</mat-icon>
          <span>&nbsp;Confirm</span>
        </button>
      </div>
    </div>
    <h2>List of Employee</h2>
    <table mat-table [dataSource]="dataSourceEmployee" matSort>
      <ng-container matColumnDef="empId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.empId }}</td>
      </ng-container>

      <ng-container matColumnDef="empName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.empName }}</td>
      </ng-container>

      <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sex</th>
        <td mat-cell *matCellDef="let element">{{ element.sex }}</td>
      </ng-container>

      <ng-container matColumnDef="birthdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Birthdate</th>
        <td mat-cell *matCellDef="let element">
          {{ element.birthdate | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsEmployee"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnsEmployee"
        (click)="selectEmployee(row)"
      ></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30, 40, 50]">
    </mat-paginator>
  </div>
  <div class="col-6">
    <div class="col-md-2 mb-3 mt-2">
      <div class="row mr-0">
        <br />
        <br />
        <br />
      </div>
    </div>
    <h2>History of Timekeeping</h2>
    <table mat-table [dataSource]="dataSourceTimekeeping" matSort>
      <ng-container matColumnDef="empId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.empId }}</td>
      </ng-container>

      <ng-container matColumnDef="empName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.empName }}</td>
      </ng-container>
      <ng-container matColumnDef="confirmDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Confirm Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.confirmDate | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="shift">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Shift</th>
        <td mat-cell *matCellDef="let element">{{ element.shift }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsTimekeeping"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnsTimekeeping"
      ></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30, 40, 50]">
    </mat-paginator>
  </div>
</div>
