<mat-nav-list>
  <div class="lo-py-4">
    <img src="../../assets/utc2.png" alt="UTC2" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">CANTEEN UTC2</h2>
  <a mat-list-item routerLink="/user/shop" routerLinkActive="list-item-active">
    <mat-icon>fastfood</mat-icon>Shop
  </a>
  <a
    mat-list-item
    routerLink="/user/product-detail/1"
    routerLinkActive="list-item-active"
    ><mat-icon>edit</mat-icon>Product Detail</a
  >
  <a mat-list-item routerLink="/user/cart" routerLinkActive="list-item-active"
    ><mat-icon>shopping_cart</mat-icon>Cart</a
  >
  <a
    mat-list-item
    routerLink="/user/checkout"
    routerLinkActive="list-item-active"
    ><mat-icon>attach_money</mat-icon>Checkout</a
  >
  <a
    mat-list-item
    routerLink="/user/account"
    routerLinkActive="list-item-active"
    ><mat-icon>person</mat-icon>Account</a
  >
</mat-nav-list>
